[submodule "frameworks/bellperson"]
	path = frameworks/bellperson
	url = https://github.com/filecoin-project/bellperson
[submodule "libs/ec-gpu"]
	path = libs/ec-gpu
	url = https://github.com/filecoin-project/ec-gpu.git
[submodule "libs/goldilocks"]
	path = libs/goldilocks
	url = https://github.com/kunxian-xia/goldilocks
[submodule "libs/halo2curves"]
	path = libs/halo2curves
	url = https://github.com/kunxian-xia/halo2curves
[submodule "applications/zkevm-proverjs"]
	path = applications/zkevm-proverjs
	url = https://github.com/0xpolygonhermez/zkevm-proverjs/
[submodule "frameworks/pil-stark"]
	path = frameworks/pil-stark
	url = https://github.com/0xPolygonHermez/pil-stark
